			canvas {
				position: absolute;
				top: 0px;
				left: 0px;
				background: transparent;
			}
			#background {
				z-index: -2;
                background-color: #07190B;
			}
			#main {
				z-index: -1;
			}
			#ship {
				z-index: 0;

			}
            .level {
				position: absolute;
				top: 5px;
				left: 20px;
				color: #FFF;
				font-family: Helvetica, sans-serif;
				cursor: default;
                display: none;
			}
			.score {
				position: absolute;
				top: 5px;
				left: 480px;
				color: #FFF;
				font-family: Helvetica, sans-serif;
				cursor: default;
                display: none;
			}
			.game-start {
				position: absolute;
				top: 100px;
				left: 95px;
				color: #EFFBEF;
				font-family: Helvetica, sans-serif;
				font-size: 30px;
				cursor: default;
				display: none;

			}
			.game-over {
				position: absolute;
				top: 100px;
				left: 210px;
				color: #FF7F00;
				font-family: Helvetica, sans-serif;
				font-size: 30px;
				cursor: default;
				display: none;
			}
			.game-start button {
				font-size: 20px;
				cursor: pointer;
				position: relative;
				left: 160px;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: #00d95a;
			}
			.game-over button {
				font-size: 20px;
				cursor: pointer;
				position: relative;
				left: 60px;
                width: 90px;
                height: 70px;
                border-radius: 50%;
                background-color: #8ae234;
			}
			.game-over span:hover {
				color: #FFD700;
			}
			.loading {
				position: absolute;
				top: 100px;
				left: 210px;
				color: #FFF;
				font-family: Helvetica, sans-serif;
				font-size: 30px;
				cursor: default;
			}